@charset "UTF-8";
/*TIPOGRAFÍA*/
/*COLORES*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #b185db;
}

body {
  padding: 22px;
}

/*HEADER MOBILE*/
#inicio {
  display: flex;
  flex-direction: row;
  padding: 22px;
  background-color: #1f1f1f;
}
#inicio .texto-inicio {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-family: "Archivo", sans-serif;
  color: #b185db;
}
#inicio .texto-inicio h1 {
  font-size: 25px;
  font-weight: 700;
}
#inicio .texto-inicio h2 {
  font-size: 20px;
  font-weight: 200;
}
#inicio .enlace-inicio {
  margin-left: 22px;
  align-self: center;
  font-family: "Archivo", sans-serif;
}
#inicio .enlace-inicio a {
  font-size: 15px;
  padding: 5px;
  background-color: #b185db;
  color: #1f1f1f;
}

/*INICIO 390*/
@media (min-width: 390px) {
  #inicio .enlace-inicio {
    margin-left: 40px;
  }
  #inicio .enlace-inicio a {
    font-size: 17px;
    padding: 7px;
  }
}
/*INICIO 425*/
@media (min-width: 425px) {
  #inicio .enlace-inicio {
    margin-left: 56px;
  }
}
/*INICIO 500*/
@media (min-width: 500px) {
  #inicio .enlace-inicio {
    margin-left: 100px;
  }
}
/*INICIO Y MAIN 768*/
@media (min-width: 768px) {
  .container {
    display: flex;
  }
  .container #inicio {
    position: sticky;
    top: 0;
    width: 350px;
    height: 400px;
    gap: 22px;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
  }
  .container #inicio .texto-inicio h1 {
    font-size: 30px;
  }
  .container #inicio .texto-inicio h2 {
    font-size: 25px;
  }
  .container #inicio .enlace-inicio {
    margin-left: 0px;
    align-self: start;
    margin-top: 22px;
  }
  .container #portf .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "img1 img2" "img3 img4" "img5 img6";
  }
  .container #portf .galeria .img1 {
    grid-area: img1;
  }
  .container #portf .galeria .img2 {
    grid-area: img2;
  }
  .container #portf .galeria .img3 {
    grid-area: img3;
  }
  .container #portf .galeria .img4 {
    grid-area: img4;
  }
  .container #portf .galeria .img5 {
    grid-area: img5;
  }
  .container #portf .galeria .img6 {
    grid-area: img6;
  }
}
/*MAIN MOBILE*/
#portf {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 22px;
  background-color: #1f1f1f;
}
#portf .enlace-portf {
  font-family: "Archivo", sans-serif;
}
#portf .enlace-portf a {
  font-size: 15px;
  padding: 5px;
  background-color: #b185db;
  color: #1f1f1f;
}
#portf .galeria {
  display: flex;
  flex-direction: column;
  gap: 11px;
}
#portf .galeria .img1 {
  width: auto;
  height: 200px;
}
#portf .galeria .img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portf .galeria .img2 {
  width: auto;
  height: 200px;
}
#portf .galeria .img2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portf .galeria .img3 {
  width: auto;
  height: 200px;
}
#portf .galeria .img3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portf .galeria .img4 {
  width: auto;
  height: 200px;
}
#portf .galeria .img4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portf .galeria .img5 {
  width: auto;
  height: 200px;
}
#portf .galeria .img5 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#portf .galeria .img6 {
  width: auto;
  height: 200px;
}
#portf .galeria .img6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*MAIN 425*/
@media (min-width: 425px) {
  #portf .galeria .img1, #portf .galeria .img2, #portf .galeria .img3, #portf .galeria .img4, #portf .galeria .img5, #portf .galeria .img6 {
    height: 250px;
  }
}
/*SOBRE MOBILE*/
#sobre {
  display: flex;
  flex-direction: column;
  gap: 22px;
  padding: 22px;
  background-color: #1f1f1f;
}
#sobre .texto {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5px;
}
#sobre .texto h2 {
  font-size: 22px;
  font-family: "Archivo", sans-serif;
  color: #b185db;
}
#sobre .texto p {
  font-size: 18px;
  font-weight: 200;
  font-family: "Archivo", sans-serif;
  color: #b185db;
}
#sobre .img-sobre {
  width: auto;
  height: 200px;
}
#sobre .img-sobre img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*SOBRE 768*/
#sobre {
  flex-direction: row;
  gap: 13px;
}
#sobre .texto {
  width: 350px;
  height: 500px;
  gap: 12px;
}
#sobre .texto p {
  font-size: 14px;
}
#sobre .img-sobre {
  height: 500px;
}

.presentacion {
  margin-bottom: 20px;
}
.presentacion h1 {
  font-family: "Archivo", sans-serif;
  font-size: 25px;
  font-weight: 500;
}

.proyectos .cont-proy-1 {
  display: flex;
  flex-direction: column;
}
.proyectos .cont-proy-1 .proy1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}
.proyectos .cont-proy-1 .proy1 .img-proy1 {
  width: auto;
  height: 200px;
  margin-bottom: 10px;
}
.proyectos .cont-proy-1 .proy1 .img-proy1 img {
  width: 100%;
  height: 100%;
}
.proyectos .cont-proy-1 .proy1 .texto {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: "Archivo", sans-serif;
}
.proyectos .cont-proy-1 .proy1 .texto h2 {
  font-weight: 500;
}
.proyectos .cont-proy-1 .proy1 .texto h3 {
  font-weight: 200;
}

/*# sourceMappingURL=style.css.map */
