body {
    padding: 22px;
}

/*HEADER MOBILE*/
#inicio {
    display: flex;
    flex-direction: row;
    padding: 22px;
    background-color: $secundario;

    .texto-inicio {
        display: flex;
        flex-direction: column;
        gap: 11px;
        font-family: $principal;
        color: $primario;

        h1 {
            font-size: 25px;
            font-weight: 700;
        }
        h2 {
            font-size: 20px;
            font-weight: 200;
        }
    }

    .enlace-inicio {
        margin-left: 22px;
        align-self: center;
        font-family: $principal;

        a {
            font-size: 15px;
            padding: 5px;
            background-color: $primario;
            color: $secundario;
            transition: 0.5s;
        }

        a:hover {
            background-color: transparent;
            color: $primario;
        }
    }
}

/*INICIO 390*/
@media (min-width: 390px){
    #inicio {
        .enlace-inicio {
            margin-left: 40px;

            a {
                font-size: 17px;
                padding: 7px;
            }
        }
    }
}

/*INICIO 425*/
@media (min-width: 425px){
    #inicio {
        .enlace-inicio {
            margin-left: 56px;
        }
    }
}

/*INICIO 500*/
@media (min-width: 500px){
    #inicio {
        .enlace-inicio {
            margin-left: 100px;
        }
    }
}

/*INICIO Y MAIN 768*/
@media (min-width: 768px){
    .container {
        display: flex;

        #inicio {
            position: sticky;
            top: 15%;
            width: 350px;
            height: 400px;
            gap: 22px;
            flex-direction: column;
            justify-content: center;
            margin-top: 10%;

            .texto-inicio {
                h1 {
                    font-size: 30px;
                }

                h2 {
                    font-size: 25px;
                }
            }

            .enlace-inicio {
                margin-left: 0px;
                align-self: start;
                margin-top: 22px;
            }
        }

        #portf {

            .galeria {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                grid-template-areas: 
                "img1 img2"
                "img3 img4"
                "img5 img6";

                .img1 {
                    grid-area: img1;
                }

                .img2 {
                    grid-area: img2;
                }

                .img3 {
                    grid-area: img3;
                }

                .img4 {
                    grid-area: img4;
                }

                .img5 {
                    grid-area: img5;
                }

                .img6 {
                    grid-area: img6;
                }
            }
        }
    }
}

/*INICIO Y MAIN 1024*/
@media (min-width: 1024px){
    .container {
        #inicio {
            height: 400px;
            margin-top: 7%;
            gap: 25px;
        }
    }
}

/*INICIO Y MAIN 1440*/
@media (min-width: 1440px){
    .container {
        #inicio {
            height: 450px;
            gap: 30px;

            .texto-inicio {
                gap: 20px;

                h1 {
                    font-size: 40px;
                }

                h2 {
                    font-size: 35px;
                }
            }
        }

        #portf {
            .galeria {
                width: 1000px;

                .img1, .img2, .img3, .img4, .img5, .img6{
                    height: 400px;
                }
            }
        }
    }
}

/*INICIO Y MAIN 1540*/
@media (min-width: 1540px){
    .container {
        #inicio {
            height: 500px;
        }

        #portf {
            .galeria {
                width: 1100px;
            }

            .enlace-portf {
                a {
                    font-size: 20px;
                }
            }
        }
    }
}


/*MAIN MOBILE*/
#portf {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 22px;
    background-color: $secundario;

    .enlace-portf {
        font-family: $principal;

        a {
            font-size: 15px;
            padding: 5px;
            background-color: $primario;
            color: $secundario;
            transition: 0.5s;
        }

        a:hover {
            background-color: transparent;
            color: $primario;
        }
    }

    .galeria {
        display: flex;
        flex-direction: column;
        gap: 11px;

        .img1 {
            width: auto;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img2 {
            width: auto;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img3 {
            width: auto;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img4 {
            width: auto;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img5 {
            width: auto;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img6 {
            width: auto;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/*MAIN 425*/
@media (min-width: 425px){
    #portf {
        .galeria {
            .img1, .img2, .img3, .img4, .img5, .img6 {
                height: 250px;
            }
        }
    }
}

/*SOBRE MOBILE*/
#sobre {
    display: flex;
    flex-direction: column;
    gap: 22px;
    padding: 22px;
    background-color: $secundario;

    .texto {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 5px;

        h2 {
            font-size: 22px;
            font-family: $principal;
            color: $primario;
        }

        p {
            font-size: 18px;
            font-weight: 200;
            font-family: $principal;
            color: $primario;
        }
    }

    .img-sobre {
        width: auto;
        height: 200px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/*SOBRE 768*/
@media (min-width: 768px){
    #sobre {
        flex-direction: row;
        gap: 13px;
    
        .texto {
            width: 350px;
            height: 500px;
            gap: 12px;
    
            p {
                font-size: 14px;
            }
        }
    
        .img-sobre {
            height: 500px;
        }
    }
}

/*SOBRE 1024*/
@media (min-width: 1024px){
    #sobre {
        .img-sobre {
            width: 700px;
        }
    }
}

/*SOBRE 1440*/
@media (min-width: 1440px){
    #sobre {
        .img-sobre {
            width: 1100px;
        }
    }
}



