/*MOBILE HEADER*/
header {
    background-color: $secundario;
    width: 250px;
    height: 195px;
    margin: 45px 45px 0px 35px;
    display: flex;
    flex-direction: column;

    h1 {
        width: 104px;
        height: 20px;
        color: $primario;
        font-family: $principal;
        font-weight: 700;
        font-size: 16px;
        margin: 22.5px 0px 22.5px 22.5px;
    }

    h2 {
        font-family: $principal;
        font-weight: 200;
        font-size: 15px;
        color: $primario;
        margin: 0px 0px 17.5px 22.5px ;
    }

    .uno {
        margin-bottom: 19px;
    }

    a {
        font-family: $principal;
        font-size: 8px;
        font-weight: 700;
        color: $secundario;
        background-color: $primario;
        padding: 5px;
        margin-left: 22.5px;
        margin-bottom: 22.5px;
        display: inline-block;
        width: 40px;
    }
}

/*MOBILE MAIN*/
main {
    background-color: $secundario;
    width: 250px;
    margin: 45px 45px 0px 35px;
    padding-top: 22px;

    a {
        font-family: $principal;
        font-weight: 700;
        color: $secundario;
        background-color: $primario;
        font-size: 8px;
        margin-left: 22.5px;
        padding: 5px;
    }

    .galeria {
        margin-left: 22.5px;
        margin-top: 14px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "img1 img3"
        "img2 img3"
        "img4 img5"
        "img6 img6";

        .img1 {
            width: 90px;
            height: 90px;
            grid-area: img1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }
        
        .img2 {
            width: 90px;
            height: 90px;
            grid-area: img2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        .img3 {
            width: 80px;
            height: 198px;
            grid-area: img3;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .img4 {
            width: 90px;
            height: 90px;
            grid-area: img4;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        .img5 {
            width: 90px;
            height: 90px;
            grid-area: img5;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        .img6 {
            width: 184px;
            height: 108px;
            grid-area: img6;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

/*MOBILE SOBRE*/
#sobre {
    background-color: $secundario;
    width: 250px;
    margin: 45px 45px 0px 35px;
    display: flex;
    flex-direction: column;

    .titulo {
        margin: 22.5px 0px 22.5px 22.5px;
        
        h2 {
            font-size: 16px;
            font-weight: 700;
            color: $primario;
            font-family: $principal;
        }
    }

    .texto {
        margin: 0px 0px 22.5px 22.5px;
        width: 190px;

        p {
            font-family: $principal;
            font-weight: 200;
            font-size: 8px;
            color: $primario;
        }
    }
}